name: Pull request

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      license_header_check_project_name: "Swift.org"
      format_check_enabled: false
      unacceptable_language_check_word_list: "blacklist whitelist slave sane sanity insane insanity"  # ignore-unacceptable-language
